@import url('./cartblock.scss');
@import url('./cartadress.scss');
@import url('./cartotal.scss');

.cart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__breadCrumbs {
        width: 100%;
        background-color: #F8F3F4;
        display: flex;
        justify-content: center;
        &__content {
            width: 1140px;
            padding: 60px 0;
            p {
                color: #F16D7F;
                font-size: 24px;
            }
        }
    }
    &__elements {
        width: 1140px;
        height: auto;
        margin-top: 96px;
        display: grid;
        grid-template-columns: calc((100% - 128px) * 2 / 3) calc((100% - 128px) / 3);
        grid-template-rows: auto;
        gap: 20px 128px;
    }
}